/***********************************************************************************************/
/* =Common Styles */
/***********************************************************************************************/
body {
  font-family: "Poppins";
  color: #fff;
  line-height: 24px;
  letter-spacing: 1.2px;
  padding-top: 68px;
  position: relative;
}

a:link {
  color: #224a5d;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #224a5d;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

.pad-b-0 {
  padding-bottom: 0 !important;
}

.pad-t-100 {
  padding-top: 100px !important;
}

/***********************************************************************************************/
/* =Typography */
/***********************************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  color: #1f2021;
  text-transform: uppercase;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1,
.h1 {
  font-family: "Abel", sans-serif;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

p {
  margin: 0;
}

.title-section hr {
  width: 15%;
}

.title-section p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.pad-sec {
  padding: 100px 0 !important;
}

.title-section {
  padding-left: 30px;
  padding-right: 30px;
}

.sep-section {
  height: 1px;
  border-bottom: 1px solid #eaeaea;
}

/***********************************************************************************************/
/* =Buttons */
/***********************************************************************************************/

.btn {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 14px 25px;
  border-radius: 1px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-xs {
  padding: 5px 14px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-sm {
  padding: 8px 37px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-lg {
  padding: 15px 35px;
}

.btn-primary {
  text-transform: uppercase;
  background-color: #fc6e51;
  border-color: #fc6e51;
}

.btn-black {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-black:hover {
  background-color: #fc6e51;
  border-color: #fc6e51;
  color: #fff;
}

.btn-clean {
  border-color: #f5f5f5;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 0;
}

.btn-clean:hover,
.btn-clean:focus,
.btn-clean:active {
  color: #fff;
}

.btn-dark {
  color: #fff;
  text-transform: uppercase;
  background: rgba(34, 34, 34, 0.9);
  font-weight: 400;
  border-color: rgba(0, 0, 0, 0.7);
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:visited {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(0, 0, 0, 0.7);
  outline: 0;
  box-shadow: none;
}

.btn-light {
  background: #f3f3f3;
  color: #000;
}

.call-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 0;
  border: none;
  outline: none;
  display: inline-block;
}

.btn-gray {
  color: #777;
  background: #e5e5e5;
}

/***********************************************************************************************/
/* =Form */
/***********************************************************************************************/

.form-group {
  margin-bottom: 20px;
}

.form-control {
  font-size: 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  height: auto;
  padding: 9px 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.form-control:focus {
  color: #111;
  border-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
/***********************************************************************************************/
/* =Preloader */
/***********************************************************************************************/
#preloader {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

#loading-animation {
  background-image: url("../images/loading.GIF");
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  border-radius: 4px;
}
/************************************************************************
// =Navbar
*************************************************************************/

.navbar-default {
  background: #fff;
  border: none;
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  border-bottom: 2px solid #f0f0f0;
  flex-grow: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.navbar.active {
  position: fixed;
  opacity: 0.95;
  border: 1px solid #e8e8e8;
}

.navbar-nav {
  margin: 7.5px -10px;
}

.navbar-default .navbar-nav > li > a {
  color: #274e61;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #274e61;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #274e61;
}

.dropdown-menu {
  top: 117%;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border-top: 0;
  padding: 12px 5px;
}

.dropdown-menu > li > a {
  padding: 3px 15px;
  line-height: 1.7;
  letter-spacing: 2px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #fff;
  color: #274e61;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #fff;
  color: #274e61;
}

.navbar-default .dropdown:hover > .dropdown-menu {
  display: block;
}

img.logo {
  width: 30px;
}
.myAccount {
  width: 178px;
  height: 56px;
  flex-grow: 0;
  margin: 0 0 0 196px;
  padding: 8.1px 16px 6.1px;
  border-radius: 13px;
  background-color: #ebeffe;
  border-style: none;
}
.bold {
  font-weight: bold;
  font-size: 17px;
}
.light {
  font-weight: lighter;
  font-size: 12px;
}
.highlight {
  width: 1440px;
  height: 1062.6px;
  flex-grow: 0;
  margin: 2.4px 0 0;
  padding: 0 0 0 120.8px;
  border: solid 1px #121b40;
}
#city {
  width: 423px;
  height: 72px;
  flex-grow: 0;
  margin: 0 16px 0 0;
  padding: 20px 104px 20px 18px;
  border-radius: 15px;
  background-color: #fff;
}
#cityEnter {
  width: 72px;
  height: 72px;
  flex-grow: 0;
  margin: 0 0 0 16px;
  padding: 26px 31px 25.8px 30.9px;
  border-radius: 15px;
  background-color: #fff;
}
.ourGoal {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #aac6fc;
  height: 1073px;
}
.goalBanner {
  grid-column: 1 / span 3;
}
#goalPic {
  width: 641px;
  height: 360px;
  margin: 0 150px 0 365px;
}
#goalBannerPar {
  text-align: center;
}
#bannerParHeader {
  font-size: 40px;
  font-weight: bolder;
  color: #2f2d4a;
}
#bannerPar {
  font-weight: lighter;
  font-size: 24px;
  color: #505d77;
  margin: 24px 0 56px;
}
.blogButtons {
  border-radius: 20px;
  border-style: none;
  text-align: center;
  color: #224a5d;
  background-color: #ffffff;
  width: 280px;
  height: 162px;
  margin: 0 0 28px 125px;
  font-size: 21px;
  font-weight: bolder; /*padding: 29px 32px 38px;*/
}
.search {
  display: grid;
  grid-template-columns: [first]45% [line2]55% [end];
  grid-template-rows: auto;
  background-color: #ebeffe;
  width: 1280px;
  height: 538px;
  flex-grow: 0;
  margin: 80.9px 80px 157px;
  padding: 0 0 83px 60px;
  border-radius: 25px;
}
.searchHeader {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #2f2d4a;
  text-align: left;
  letter-spacing: -1.32px;
  line-height: 1.06;
  font-size: 44px;
  font-weight: bolder;
  margin-bottom: 1%;
}
.searchPar {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 22px;
  text-align: left;
  color: #517b8c;
  font-weight: lighter;
  margin-top: 1%;
}
.searchButton {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 257px;
  height: 63px;
  flex-grow: 0;
  margin: 20px 232px 0 1px;
  padding: 20px 23.5px 16px 26px;
  border-radius: 20px;
  background-color: #385df9;
  border-style: none;
  color: #fff;
  font-size: 18px;
}
.searchHouse {
  grid-column-start: 2;
  grid-row-start: span 3;
  width: 700px;
  height: 400px;
  margin: 0 220px 0 0;
  float: right;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}
.footerTitle {
  font-weight: bold;
  color: #224a5d;
}
.footerElement {
  font-weight: lighter;
  color: #517b8c;
}
br {
  display: block;
  margin: 10px 0;
} /*problem here*/


/*
/***********************************************************************************************/
/* =Common Styles */
/***********************************************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins";
  color: #fff;
  line-height: 50px;
  letter-spacing: 1.2px;
  padding-top: 0;
  position: relative;
}

a:link {
  color: #224a5d;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #224a5d;
  background-color: transparent;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  opacity: 0.9;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*
.pad-b-0 {
  padding-bottom: 0 !important;
}

.pad-t-100 {
  padding-top: 100px !important;
}*/
/***********************************************************************************************/
/* =Typography */
/***********************************************************************************************/

.bold {
  font-weight: bold;
  font-size: 17px;
}
.light {
  font-weight: lighter;
  font-size: 12px;
}
/************************************************************************
// =Navbar
*************************************************************************/

.navbar {
  background: #fff;
  border: none;
  /*width: 100%;
  margin-bottom: 50px;*/
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  /*top: 100px;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 600;*/
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.navbar .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/*
  .navbar.active {
    position: fixed;
    opacity: 0.95;
    border: 1px solid #e8e8e8;
  }
  
  .navbar-nav {
    margin: 7.5px -10px;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: #274e61;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #274e61;
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #274e61;
  }
  
  .dropdown-menu {
    top: 117%;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    border-top: 0;
    padding: 12px 5px;
  }
  
  .dropdown-menu > li > a {
    padding: 3px 15px;
    line-height: 1.7;
    letter-spacing: 2px;
  }
  
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    background-color: #fff;
    color: #274e61;
  }
  
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    background-color: #fff;
    color: #274e61;
  }
  
  .navbar-default .dropdown:hover > .dropdown-menu {
    display: block;
  }*/
img.logo {
  width: 30px;
}
.myAccount {
  width: 178px;
  height: 56px;
  flex-grow: 0;
  margin: 0 0 0 196px;
  padding: 8.1px 16px 6.1px;
  border-radius: 13px;
  background-color: #ebeffe;
  border-style: none;
}

.highlight {
  width: 1440px;
  height: 1062.6px;
  flex-grow: 0;
  margin: 2.4px 0 0;
  padding: 0 0 0 120.8px;
  border: solid 1px #121b40;
}
#city {
  width: 423px;
  height: 72px;
  flex-grow: 0;
  margin: 0 16px 0 0;
  padding: 20px 104px 20px 18px;
  border-radius: 15px;
  background-color: #fff;
}
#cityEnter {
  width: 72px;
  height: 72px;
  flex-grow: 0;
  margin: 0 0 0 16px;
  padding: 26px 31px 25.8px 30.9px;
  border-radius: 15px;
  background-color: #fff;
}
.ourGoal {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #aac6fc;
  height: 1073px;
}
.goalBanner {
  grid-column: 1 / span 3;
}
#goalPic {
  width: 641px;
  height: 360px;
  margin: 0 150px 0 365px;
}
#goalBannerPar {
  text-align: center;
}
#bannerParHeader {
  font-size: 40px;
  font-weight: bolder;
  color: #2f2d4a;
}
#bannerPar {
  font-weight: lighter;
  font-size: 24px;
  color: #505d77;
  margin: 24px 0 56px;
}
.blogButtons {
  border-radius: 20px;
  border-style: none;
  text-align: center;
  color: #224a5d;
  background-color: #ffffff;
  width: 280px;
  height: 162px;
  margin: 0 0 28px 125px;
  font-size: 21px;
  font-weight: bolder; /*padding: 29px 32px 38px;*/
}
.search {
  display: grid;
  grid-template-columns: [first]45% [line2]55% [end];
  grid-template-rows: auto;
  background-color: #ebeffe;
  width: 1280px;
  height: 538px;
  flex-grow: 0;
  margin: 80.9px 80px 157px;
  padding: 0 0 83px 60px;
  border-radius: 25px;
}
.searchHeader {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #2f2d4a;
  text-align: left;
  letter-spacing: -1.32px;
  line-height: 1.06;
  font-size: 44px;
  font-weight: bolder;
  margin-bottom: 1%;
}
.searchPar {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 22px;
  text-align: left;
  color: #517b8c;
  font-weight: lighter;
  margin-top: 1%;
}
.searchButton {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 257px;
  height: 63px;
  flex-grow: 0;
  margin: 20px 232px 0 1px;
  padding: 20px 23.5px 16px 26px;
  border-radius: 20px;
  background-color: #385df9;
  border-style: none;
  color: #fff;
  font-size: 18px;
}
.searchHouse {
  grid-column-start: 2;
  grid-row-start: span 3;
  width: 700px;
  height: 400px;
  margin: 0 220px 0 0;
  float: right;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}
.footerTitle {
  font-weight: bold;
  color: #224a5d;
}
.footerElement {
  font-weight: lighter;
  color: #517b8c;
}
br {
  display: block;
  margin: 10px 0;
} /*problem here*/
*/